* {
    margin: 0;
    padding: 0;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
.container {
    height: 100vh;
    width: 100%;
    background-color: #eef0f6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-panel {
    height: 450px;
    width: 600px;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 36px;
    margin-top: 25px;
}
.panel-container {
    margin-top: 15px;
}
.panel-field {
    font-size: 20px;
    margin-top: 25px;
    width: 375px;
}
.panel-field p {
    color: rgb(100, 100, 100);
}
.panel-field input {
    font-size: 16px;
    height: 40px;
    padding-left: 10px;
    margin-top: 5px;
    width: 300px;
}
.panel-check {
    display: flex;
    margin-top: 15px;
}
.panel-check p {
    margin-left: 10px;
}
.panel-check input {
    width: 15px;
    cursor: pointer;
}
.panel-container button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: #2271b1;
    border: none;
    border-radius: 2.5px;
    color: white;
    font-size: 16px;
    margin-top: 50px;
}